APScheduler
lxml
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-PyMongo
Flask-RESTful
Flask-SSE
simple-salesforce
Flask-WeasyPrint
mongoengine
mongomock
flask_mongoengine
uwsgi
blinker
requests
PyJWT
python-slugify