{% extends "email_templates/base_email_template.html" %}
{% block title %}Liftnec Parola Yenile{% endblock %}
{% block head %}
    <!-- Custom Style Line-->
{% endblock %}
{% block content %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="h2">
                Merhaba <span class="dodgerblue uppercase">
                {{ created_user.first_name }} {{ created_user.last_name }}</span>,
            </td>
        </tr>
        <tr>
            <td class="bodycopy">
                <p>
                    Bu bir parola yenileme bildirimidir.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="border-dotted-top border-dotted-bottom border-d3">
                <table class="buttonwrapper" bgcolor="#e05443" border="0"
                       cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="button" height="45">
                            <a href="{{ link }}" class="whiteColor">Parola Yenileme</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}